---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
    {% include event-meta.html %}

    {% if page.event_image != nil %}{% include figure.html image=page.event_image alt=page.title %}{% endif %}

    {{ content }}

    {% if page.facebook_link != nil %}{% include button.html text="Urmărește evenimentul pe facebook" link=page.facebook_link icon="facebook" %}{% endif %}

    {% if page.photo_gallery != nil %}{% include button.html text="Vezi galeria foto a evenimentului" link=page.photo_gallery %}{% endif %}

    {% include nav-share.html %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
